Most hozz döntést. Mit gondolsz: a te rácsod és a másik rács ugyanazt írja le? Írd azt, hogy "$FLAG$ $SOL_SAME$", ha szerinted ugyanarról a rácsról van szó, vagy azt, hogy "$FLAG$ $SOL_DIFF$", ha szerinted a rácsok különbözőek. Ne adj hozzá semmi mást.