Egy utazási iroda ügyfele vagy. Itt található annak leírása, hogy milyen utazást szeretnél:
$INSTANCE$
Az utazási ügynök erről még nem tud.
Az utazási ügynök kérdései a következő jelöléssel kezdődnek: $QUESTIONER$. Kérlek, így válaszolj:
$ANSWER$<egy mondat>
Én is fogok kérdéseket feltenni. Ezek a kérdések a következő jelöléssel kezdődnek: $ME$. Ezekre így válaszolj:
$ASIDE$<egy mondat>
Fontos: Adj rövid, lényegre törő válaszokat!
Kezdjük el.